services:
  landing:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: landing
    restart: unless-stopped
    networks:
      - proxy-network

networks:
  proxy-network:
    external: true
